* {
  font-family: 'Kanit', sans-serif;
  margin: auto;
  padding: auto;
}

h1,
h3,
p,
label,
legend,
button {
  color: white;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(assets/homepage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.background {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(assets/homepage.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(76, 72, 68, 0.25);
  border-bottom: 3px solid rgb(235, 173, 3);
  box-shadow: 0px 10px 20px 5px rgb(235, 173, 3);
}

.navbar a {
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 0 20px;
  padding: 14px 16px;
  font-size: 20px;
}

.navbar-text {
  display: inline-block;
  position: relative;
  color: #A76322;
  ;
}

.navbar-text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #A76322;
  transform-origin: bottom left;
  transition: 0.25s ease-in-out;
}

.navbar-text:hover::after {
  transform: scaleX(1);
}

.logo {
  margin: 10px;
  height: 8vh;
  width: auto;
  display: inline-block;
  transition: 0.25s ease-in-out;
  cursor: pointer
}

.logo:hover {
  transform: scale(1.1);
}

.navbar .icon {
  display: none;
  margin-top: 20px
}

.content {
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(0, -50%);
  text-align: center;
}

.content h1 {
  font-size: 75px;
  margin-top: 80px;
  color: white;
  text-align: center;
}

.input-field h2 {
  font-size: 40px;
  margin: 50px;
  color: white;
  text-align: center;
}

.content p,
.input-field p {
  font-size: 25px;
  font-weight: 90;
  margin: 20px auto;
  text-align: center;
}

.start {
  width: 250px;
  height: 50px;
  margin: 20px 10px;
  padding: 10px 0;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s ease-in-out;
  border: 2px solid #4C4844
}

.start:hover {
  background-color: rgba(167, 99, 34, 0.5);
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 20px 5px rgb(235, 173, 3);
}

.buttons,
.redirect {
  display: inline-block;
  color: white;
}

.confirm-form {
  color: rgb(255, 255, 255);
  background-color: rgba(212, 113, 0);
  width: 250px;
  height: auto;
  margin: 20px 10px;
  padding: 10px 0;
  text-align: center;
  float: right;
  font-size: 0.9rem;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}

.confirm-form:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.feedback-form {
  /* fieldset */
  width: 75%;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: rgba(72, 72, 68, 0.75);
  padding: 20px;
  text-align: center;
}

.feedback-label {
  text-align: center;
  position: left;
  width: 259px;
  border-radius: 10px;
  background-color: rgba(72, 72, 68, 0.75);
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

input[type=email],
textarea {
  width: 75%;
  padding: 12px;
  border: 1px rgba(185, 185, 185, 1);
  border-radius: 10px;
  resize: vertical;
  transition: 0.5s ease-in-out;
}

input[type=text] {
  width: 36%;
  padding: 12px;
  border: 1px rgba(185, 185, 185, 1);
  border-radius: 10px;
  resize: vertical;
  transition: 0.5s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
textarea:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 0px 20px 5px whitesmoke;
}

label {
  padding: 20px 20px 20px 0;
  display: inline-block;
}

input[type=submit] {
  width: 250px;
  height: 50px;
  margin: 20px 10px;
  padding: 10px 0;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  background-color: #4C4844;
  border: 2px solid #CFCFC3;
  float: right
}

input[type=submit]:hover {
  background-color: #4C4844;
  cursor: pointer;
}

.col-label {
  float: left;
  width: 20%;
  margin-top: 6px;
  color: white
}

.col-input {
  float: left;
  width: 80%;
  margin-top: 6px;
  margin-right: 10px;
}

.row {
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* about.html */
header {
  text-align: center;
  margin: 40px;
}

.team-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px;
}

.team-member {
  flex: 1;
  max-width: 300px;
  min-width: 300px;
  margin: 10px;
  text-align: center;
}

.member-pic {
  border-radius: 50%;
  width: 200px;
  height: 240px;
}

/* Feedback.html */
.header2 {
  padding: 5%;
  text-align: center;
  color: white;
  font-size: 25px;
}

.row {
  display: inline-flex;
}

/* laptop-form.html */
.container-form {
  border: 1px solid white;
  margin-top: 5%;
  width: 50%;
  border-radius: 30px;
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: left;
  padding: 10px;
}

.container-form div {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.confirm-form label {
  flex: 1;
  margin-right: 15px;
  text-align: right;
}

.container-form select {
  flex: 2;
  width: 100%;
  padding: 8px;
  background-color: rgba(72, 72, 68, 0.6);
  border: rgb(34, 34, 34);
  color: rgba(226, 226, 226, 0.89);;
}

.container-form select:hover {
  cursor: pointer;
}

.submit {
  background-color: rgba(212, 113, 0);
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  text-align: center;
  width: 20%;
  height: 50px;
  margin: 20px 10px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  transition: 0.25s ease-in-out;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.accordion {
  display: none flex;
  flex-direction: column;
  width: 100%;
}

.selection-div {
display: flex;
width: 100%;
}

.selection-label {
  width: 30%
}
.selection {
  width: 70%
}


/* laptop-rec.html */
.container {
  border: solid white;
  margin-top: 5%;
  width: 50%;
  border-radius: 30px;
  padding-top: 0%;
  color: white;
  text-align: center;
  overflow: auto;
  background-color: #252525;
}

.row2 {
  display: inline-flex;
  width: 90%;
}

a {
  text-decoration: none;
}

.bob {
  padding-left: 16px;
}


.column {
  border: solid #A76322;
  color: white;
  background-color: #4C4844;
  width: 100%;
  margin-left: 5%;
  padding: 3%;
  border-radius: 50px;
}

.column:hover {
  color: #4C4844;
  background-color: #CFCFCE;
}

.column3 {
  margin-right: 5%;
}

.details {
  background-color: #4C4844;
  border: none;
  border-radius: 10px;
  margin-bottom: 1%;
}

.details:hover {
  background-color: #CFCFCE;
  color: #4C4844;
  cursor: pointer;
}

.laptop {
  width: 30vw;
}

.t-description {
  border-collapse: collapse;
  border: solid #CFCFCE;
}

.t-descriptions {
  border-collapse: collapse;
  border: solid #CFCFCE;
  background-color: #48484499;
}

.ghost, .ghost2 {
  visibility: hidden;
}

.bx-info-circle, .bxs-info-circle {
  float: right;
}

.t-description {
  width: 90%;
  margin-bottom: 1%;
  margin-top: 5%;
}

.review {
  border: solid black;
  color: black;
  background-color: white;
  border-radius: 13px;
  font-size: 13px;
}

.bx-info-circle {
  color: white;
}

.bx-info-circle:hover, .bxs-info-circle {
  cursor: pointer;
}

.redirectory {
  text-align: center;
  margin-top: 5%;
}

.show-price:hover, .hide-price:hover {
  color: grey;
  cursor: pointer;
}

.show-price, .hide-price {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-bottom: 1%;
}

@media screen and (max-width: 970px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }

}

input[type=submit],
.confirm-form {
  width: 95%;
  text-align: center;
}

input[type=submit],
.confirm-form:hover {
  width: 95%;
  text-align: center;
}

@media screen and (max-width: 970px) {
  .navbar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    display: block;
    transition: 0.5s ease-in;
  }

  /* for laptop results */
  .container {
    width: 90%;
  }

  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .container-form {
    width: 75%;
  }
}

@media screen and (max-width: 597px) {

  .row {
    display: flex;
    flex-direction: column;
  }

  input[text] {
    width: 100%;
  }

  .col-input {
    display: inline-block;
    width: 100%;
  }

  .col-label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }

  .container-form {
    width: 90%;
  }
}

@media screen and (max-width: 1585px) {
  input[text] {
    width: 30%;
  }
}

@media screen and (max-width: 345px) {
  .navbar a.icon {
    float: right;
  }

}

/* media query for laptop recommendations */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .laptop {
    width: 200px;
    overflow: auto;
  }
  
  .t-description {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .review {
    height: 100px;
    overflow: auto;
  }
  .r-data {
    display: table-row;
  }
}
/* end here */

@media screen and (max-width: 812px) {
  .row2 {
    width: 100%;
  }
}